{% extends "solidapp/layout.html" %} {% load static %} {% block body %}

<main>
  <section class="hero">
    <div class="container">
      <div class="hero-inner">
        <div class="hero-copy">
          <h1 class="hero-title mt-0">{{main.title}}</h1>
          <p class="hero-paragraph">{{main.description}}</p>
        </div>
        <div class="hero-figure anime-element">
          <svg
            class="placeholder"
            width="528"
            height="396"
            viewBox="0 0 528 396"
          >
            <rect width="528" height="396" style="fill: transparent" />
          </svg>
          <div
            class="hero-figure-box hero-figure-box-01"
            data-rotation="45deg"
          ></div>
          <div
            class="hero-figure-box hero-figure-box-02"
            data-rotation="-45deg"
          ></div>
          <div
            class="hero-figure-box hero-figure-box-03"
            data-rotation="0deg"
          ></div>
          <div
            class="hero-figure-box hero-figure-box-04"
            data-rotation="-135deg"
          ></div>
          <div class="hero-figure-box hero-figure-box-05"></div>
          <div class="hero-figure-box hero-figure-box-06"></div>
          <div class="hero-figure-box hero-figure-box-07"></div>
          <div
            class="hero-figure-box hero-figure-box-08"
            data-rotation="-22deg"
          ></div>
          <div
            class="hero-figure-box hero-figure-box-09"
            data-rotation="-52deg"
          ></div>
          <div
            class="hero-figure-box hero-figure-box-10"
            data-rotation="-50deg"
          ></div>
        </div>
      </div>
    </div>
  </section>
  <section class="features section">
    <div class="container">
      <div class="features-inner section-inner has-bottom-divider">
        <h4 class="feature-title text-center">{{main.section_title}}</h4>
        <p class="text-center">{{main.section_description}}</p>
        <div class="feature-wrapper">
          <h4 class="feature-title text-center">{{stories.title}}</h4>
          <div class="features-wrap">
            {% for feature in stories.data %}
            <div class="feature text-center is-revealing">
              <div class="feature-inner">
                <h4 class="feature-title mt-24">{{feature.title}}</h4>
                <p class="text-sm date">{{feature.date}}</p>
                <p class="text-md">{{feature.content}}</p>
                <a href="{% url 'solidapp:story' feature.id %}">Read More →</a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}
